body{
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  margin-left: 0px;
}

#header{
  position: fixed;
  top:0;
  height: 8vh;
  width: 100%;
  display: flex;
  align-items: center;
  z-index:1;
  background: #00ccff;
}

#header-left{
  padding-left: 20px;
  width: 50%;
}

#header-left ul{
  padding-left: 0px;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  color: white;
}

#email-header{
  margin-right: 20px;
}

#header-right{
  padding-right: 20px;
  width: 50%;
}

.topnav{
  padding-right: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.topnav a{
  display: block;
  text-decoration: none;
  color: white;
  margin-left: 15px;
}

.topnav a:hover{
  color: #000066;
}


.topnav .icon{
  display: none;
}

.welcome-section{
  /*background: #00ccff;*/
  background-color: white;
  width:100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:center;
}

.div-brandname{
  text-align: center;
  color: #00ccff;
  font-size: 50px;
}

.div-presentacion{
  padding-top: 4vh;
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  color: #4d4d4d;
  text-align: center;
}

.image-landing-div{
  width: 100%;
  background-color: white;
}

#image-landing{
  width: 60%;
  display: block;
  height: auto;
  margin: 0 auto;
}

.service-section{
  margin: auto;
  height: 100vh;
  padding-top: 8vh;
  width: 90%;
  display: flex;
  justify-content: center;
}

.service-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 33.33%;
  padding-left:15px;
  padding-right:15px;
}

.service-div h3{
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color:#00ccff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-div p{
  font-size: 16px;
  color:#4d4d4d;
  height: 125px;
}

.service-div img{
  width: 75%;
  height: auto;
  border-radius: 10px;
}

#footer a{
  text-decoration: none;
}

#footer a p{
  color: #00ccff;
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 500px){

  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnavresponsive {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 25vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    background-color: #00ccff;
  }
  .topnavresponsive a.icon {
    position: absolute;
    right: 20px;
    top: 2vh;
  }
  .topnavresponsive a {
    display: block;
    text-decoration: none;
    color: white;
  }

  .topnavresponsive a:hover{
    color: #000066;
  }

  #mobile-header{
    display: none;
  }

  #email-header{
    font-size: 13px;
  }
  /*landing*/
  .div-brandname{
    font-size: 35px;
    padding-bottom: 8vh;
    flex-direction: column;
    justify-content: flex-end;
  }

  #image-landing{
    width: 95%;
    height: auto;
  }

  .div-presentacion{
    padding-top: 8vh;
    flex-direction: column;
    justify-content: flex-start;
    margin:0 auto;
    font-size: 14px;
    text-align: center;
  }

  /*skills*/
  .service-section{
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
  }

  .service-div{
    width: 100%;
    padding: 0px;
  }

  .service-div p{
    height: auto;
    font-size: 14px;
  }

}
